body{
  background: url(background.png);
}
.wrapper{
  border: 3px solid rgba(11, 11, 91, 0.706);
  border-radius: 8px;
  box-shadow: 3px 4px 8px 6px rgba(16, 9, 109, 0.448);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  height: auto;
  line-height: 50px;
  margin-left: 200px;
  margin-top: 200px;
  text-align: center;
  padding: 20px;
  width: fit-content;
}

